@using Microsoft.IdentityModel.Tokens
@model WebsiteFashion.Models.Category

<h2>Product Details</h2>

<div>
    <h4>Name: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
</div>
<a asp-action="Index">Cancel</a>
